#search__form {
  position: absolute;
  bottom: -1.4rem;
  box-shadow: 0 10px 23px -1px rgba(0, 0, 0, .1);
  border-radius: 2rem;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transition: .4s;

  .search-icon {
    display: flex;
    align-items: center;

    path {
      stroke: #282c34;
    }
  }

  &:hover {
    box-shadow: 0 8px 26px 0 rgba(0, 0, 0, .2);
  }
}

input {
  position: relative;
  width: 100%;
  min-width: 240px;
  border: none;
  outline: none;
  padding: 1rem;
  background: none;

  &::placeholder {
    color: #747d8c;
  }
}

.clear-icon {
  position: absolute;
  left: 17.35rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  animation: clearIcon .5s ease-out forwards;

  path {
    fill: #b2bec3;
    transition: .4s ease;
  }

  &:hover {
    path {
      fill: #282c34;
      transition: .4s ease;
    }
  }
}


@keyframes clearIcon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}