.Navigation {
  ul {
    display: flex;
    gap: 2rem;
  }

  li {
    list-style: none;
    cursor: pointer;
    transition: .4s ease;

    &:hover {
      color: #ff6b81;
      transition: .4s ease;
    }
  }
}