.MiddleHeader {
  padding: 0 4rem;
  font-size: 12px;
  font-weight: 500;
  color: #747d8c;
  display: flex;
  justify-content: space-between;
  background: #f1f2f6;

  .download__section {
    display: flex;
    align-items: center;
    gap: .35rem;
    cursor: pointer;

    path {
      stroke: #747d8c;
    }
  }
}